<ion-header>
  <ion-navbar>
    <ion-title>
      Menus
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let note of notes">
      <button ion-item (click)="showDetails(note)">
      <ion-card-header>
          {{note.ref}} {{ note.type }} 
      </ion-card-header>
      <ion-card-content>
        {{ note.data }}
      </ion-card-content>
      </button>
  </ion-card>
</ion-content>
