<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card> 
        <img src="assets/imgs/santiago.jpg"/>    
        <ion-card-content>
          <ion-card-title>
            Refeitorio de Santiago
          </ion-card-title>
          <p>
            O edifício onde funciona o Refeitório de Santiago compreende um projecto da autoria do arquitecto Rebello de Andrade (constituído por uma área de 1200 metros quadrados).
            O Refeitório de Santiago, constituído por duas salas de 400 lugares cada, situa-se no edifício central dos Serviços de Acção Social, onde podem ser fornecidas cerca de 4.000 refeições por dia. 
          </p>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="openMenus()" >
              <ion-icon name='book'></ion-icon>
              Menus
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="openLocation()">
              <ion-icon name='navigate'></ion-icon>
              Location
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card> 
        <img src="assets/imgs/crasto.jpg"/>    
        <ion-card-content>
          <ion-card-title>
            Refeitorio do Crasto
          </ion-card-title>
          <p>
            O edifício subdivide-se em diferentes grupos funcionais: complexo de refeitórios e seus apoios, cafetaria e restaurante. A cantina / complexo de refeitórios, tem um total de 970 lugares sentados distribuídos por: salas de refeitório (660 lugares sentados), sala do Grill (174 lugares sentados), restaurante (72 lugares sentados) e cafetaria (64 lugares sentados) e poderá fornecer cerca de 1200 refeições por hora.
          </p>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="openMenus()">
              <ion-icon name='book'></ion-icon>
              Menus
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="openLocation()">
              <ion-icon name='navigate'></ion-icon>
              Location
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card> 
        <img src="assets/imgs/snack.jpg"/>    
        <ion-card-content>
          <ion-card-title>
            Snack-Bar / Self
          </ion-card-title>
          <p>
            O edifício do Snack-Bar / Self-Service é constituído por uma sala de refeitório e uma cafetaria e tem por base um projeto do arquiteto aveirense José Lopo Prata.
            Esta unidade que se situa junto ao Complexo Residencial Universitário, fornece refeições por componentes e tem capacidade para fornecer cerca de 1000 refeições por dia.
            As refeições são pagas em dinheiro, por Multibanco ou através de cheque.
          </p>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="openMenus()">
              <ion-icon name='book'></ion-icon>
              Menus
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="openLocation()">
              <ion-icon name='navigate'></ion-icon>
              Location
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
</ion-content>
